/***********************
          Xmas
***********************/
body {
  background-image: url("snow.png");
  text-align: center;

}

#banner {
  font-size: 50px;
  font-family: "Comic Sans MS";
  color: red;
  -webkit-animation: colors 1s;
  -webkit-animation-iteration-count: infinite;
}
/***********************
        Marquee
***********************/
/*@-webkit-keyframes scroll {
  0% {
    -webkit-transform(0, 0);
  }
  100% {
    -webkit-transform(-100%, 0);
  }
}
@-keyframes scroll {
  0% {
    -webkit-transform(0, 0);
  }
  100% {
    -webkit-transform(-100%, 0);
  }
}


.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 10s infinite linear;
} */
/***********************
OTHER
***********************/
.paragraph {
  font-size: 35px;
  font-family: "Comic Sans MS";
  color: black;
}

#foot {
  font-family: Verdana;
  font-size: 15px;
  color: black;
}
/***********************
          GIF
***********************
@-webkit-keyframes paper {
  0% { background-image: url("snow2,png"); }
  100% { background-image: url("snow.png"); }
}
@-moz-keyframes paper {
  0% { background-image: url("snow2,png"); }
  100% { background-image: url("snow.png"); }
}
@-keyframes paper {
  0% { background-image: url("snow2,png"); }
  100% { background-image: url("snow.png"); }
} */


.button {
  border-radius: 10px;
  background-color: green;
}

.button a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes colors {
  0% {
    color: red;
  } 100% {
    color: green;
  }
}
